.wvButton {
    &:hover {
        text-decoration: none;
        color: white;
    }
    outline: none;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-variant: small-caps;
    text-transform: lowercase;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    color: #d9d9d9;
    transition: 0.3s text-decoration ease, 0.3s border ease, 0.3s opacity ease;
    margin: 0;
    min-width: 1.5rem;
    padding: 0 4px;
    line-height: 3.6rem;
    &.wvLargeButton {
        font-size: 2rem;
        line-height: 6.2rem;
        padding: 0 20px;
    }
}
.wvButton--rotate {
    @extend .wvButton;
    &:before,
    &:after {
        transform: rotate(90deg);
        display: inline-block;
    }
}
.wvButton--vflip {
    @extend .wvButton;
    &:before,
    &:after {
        transform: scaleX(-1);
        display: inline-block;
    }
}
.wvButton--underline,
.fa.wvButton--underline {
    @extend .wvButton;
    position: relative;
    background-color: inherit;
    text-decoration: none;
    text-align: left;
    font-size: 1.3rem;
    &.wvLargeButton {
        font-size: 2rem;
        width: 6.4rem;
    }
    * {
        pointer-events: none;
    }
    &:hover,
    &:active,
    &:focus {
        outline: 0;
    }
    width: 2.3rem;
    vertical-align: middle;
    color: #ace08c;
    opacity: 0.75;
    border: 0;
    border-bottom: 1px solid #ffffff1a;
    &:hover,
    &:focus {
        border-color: #fff;
        opacity: 1;
        .wvButton__bottomTriangle {
            border-left-color: #fff;
            &.toggled {
            }
        }
    }
    &.active {
        opacity: 1;
        border-color: $primary;
    }
    top: 0;
    &::before {
        position: relative;
        top: -1px;
    }
    &.fa {
        top: 0;
        font-weight: 800;
    }
}
.wvButton__bottomTriangle {
    transition: 0.3s border ease, 0.3s opacity ease;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 0 10px;
    border-color: transparent transparent transparent #ffffff1a;
    &.active {
        border-color: transparent transparent transparent $primary !important;
        &.toggled {
            border-left-color: $primary !important;
        }
    }
    &.toggled {
    }
}
.wvButton--border {
    @extend .wvButton;
    max-height: 2.4rem;
    width: 19.6rem;
    overflow: hidden;
    margin-left: 0.2rem;
    margin-top: 0.4rem;
    margin-bottom: 0.3rem;
    & + & {
        margin-left: 0.7rem;
    }
    line-height: 2rem;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
    border: 1px solid hsl(0, 0%, 27%);
    font-family: Arial;
    background-color: hsl(0, 0%, 0%);
    &:hover {
        background-color: hsl(0, 0%, 10%);
    }
    & > .glyphicon {
        position: relative;
        display: inline-block;
        top: 3px;
        margin-right: 4px;
    }
}
.wvButton--borderAndWhite {
    @extend .wvButton--border;
    color: hsl(0, 0%, 10%);
    border: 1px solid hsl(0, 0%, 73%);
    background-color: hsl(0, 0%, 100%);
    &:hover {
        color: hsl(0, 0%, 10%);
        background-color: hsl(0, 0%, 90%);
    }
}
