.overlay__transparent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.transition,
%transition {
    & {
        transition: 0.3s all ease;
    }
}
.transition--long,
%transition--long {
    & {
        transition: 0.6s all ease;
    }
}
dd + dt {
    clear: both;
}
.listDefinition {
    width: 100%;
    line-height: 1.3;
}
.listDefinition__term {
    clear: both;
    float: left;
    text-align: right;
    padding-right: 10px;
    width: 50%;
    @extend .font__light;
}
.listDefinition__data {
    text-align: left;
    padding-left: 10px;
    float: right;
    width: 50%;
    @extend .font__normal;
}
@keyframes blink__primary {
    0% {
        color: $primary;
    }
    100% {
        color: #666;
    }
}
.blink__primary {
    animation: blink__primary 0.8s linear infinite;
}
[translate-cloak] {
    transition: 0.3s all ease;
    opacity: 1;
    &.translate-cloak {
        opacity: 0;
    }
}
.button__unstyled,
%button__unstyled {
    background-color: inherit;
    border: 0;
    text-decoration: none;
    text-align: left;
    padding: 0;
    cursor: pointer;
    * {
        pointer-events: none;
    }
    &:hover,
    &:active,
    &:focus {
        outline: 0;
    }
}
.button__base,
%button__base {
    @extend .button__unstyled;
    transition: 0.3s all ease;
}
.button__state--active {
    @extend .button__base;
    opacity: 1;
    &:hover {
        opacity: 0.9;
        color: $primary;
    }
}
.button__state--inactive {
    @extend .button__base;
    opacity: 0.333;
    &:hover {
        opacity: 0.4333;
        color: $primary;
    }
}
.button__iconed {
    @extend .button__base;
    opacity: 1;
    &:hover,
    &:focus,
    &.active {
        opacity: 0.75;
        color: $primary;
    }
}
.button__switch--base,
%button__switch--base {
    @extend .button__base;
    padding: 5px 0;
    display: inline-block;
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: $primary;
    background-color: white;
    overflow: hidden;
    &:hover,
    &:focus {
        background-color: lighten($primary, 10);
        color: white;
    }
    &.active {
        background-color: $primary;
        color: white;
    }
}
.button__switch {
    @extend .button__switch--base;
}
.button__switch--first {
    @extend .button__switch--base;
    border-left: 1px solid $primary;
    border-radius: 5px 0 0 5px;
}
.button__switch--last {
    @extend .button__switch--base;
    border-right: 1px solid $primary;
    border-radius: 0 5px 5px 0;
}
.button__lightgrey--hover {
    @extend .button__base;
    &:hover,
    &:focus,
    &.active {
        background-color: $lightGrey;
    }
}
.button__text-danger--hover {
    @extend .button__base;
    &:hover,
    &:focus,
    &.active {
        color: $dangerColor;
    }
}
.button__text-primary--hover {
    @extend .button__base;
    &:hover,
    &:focus,
    &.active {
        color: $primary;
    }
}
.button__danger--hover {
    @extend .button__base;
    &:hover,
    &:focus,
    &.active {
        background-color: $dangerColor;
        color: white;
    }
}
.button__text {
    @extend .button__base;
    opacity: 0.66;
    &:hover,
    &.active,
    &:focus {
        opacity: 1;
    }
}
.button__text--underlined {
    @extend .button__base;
    text-decoration: underline;
    &:hover,
    &.active,
    &:focus {
        text-decoration: none;
    }
}
.button__bordered {
    @extend .button__base;
    border-bottom: 2px solid $text-color;
    &:hover,
    &:focus,
    &.active {
        border-color: $primary;
    }
}
.button__bordered--inverted {
    @extend .button__base;
    border-bottom: 2px solid white;
}
.button__close {
    @extend .button__base;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.6;
    z-index: 10;
    &:hover,
    &:focus {
        opacity: 1;
    }
}
.block {
    display: block !important;
}
.boxsizing__borderbox {
    box-sizing: border-box;
}
.boxsizing__contentbox {
    box-sizing: content-box;
}
.scrollable {
    overflow-y: auto;
}
.scrollable--x {
    overflow-x: auto;
}
.no-scroll {
    overflow: hidden;
}
.float__right,
%float__right {
    float: right;
}
.float__left,
%float__left {
    float: left;
}
.font__bold,
%font__bold {
    font-weight: 600;
}
.font__normal,
%font__normal {
    font-weight: 400;
}
.font__light,
%font__light {
    font-weight: 200;
}
.fontColor__primary {
    color: $primary;
}
.fontColor__lightGrey {
    color: $lightGrey;
}
.fontColor__normal {
    color: $text-color;
}
.fontColor__darker {
    color: $darkGrey;
}
.fontColor__white {
    color: white;
}
.textarea__unstyled {
    border: 0;
    outline: none;
    background-color: transparent;
    color: inherit;
    resize: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.position__relative {
    position: relative;
}
.margin__auto {
    margin: auto;
}
$steps: (20);
@each $step in $steps {
    .wh__#{$step} {
        width: $step + px !important;
        height: $step + px !important;
    }
    .lh__#{$step} {
        line-height: $step + px !important;
    }
}
.lh__1 {
    line-height: 1 !important;
}
.no-wrap {
    white-space: nowrap;
}
.ov-h {
    overflow: hidden;
}
.va-m {
    vertical-align: middle;
}
.bg-inherit {
    background-color: inherit;
}
.bg-black {
    background-color: #2c2c2c;
}
.v-center {
    &:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-top: -0.25em;
    }
}
.fluid-height {
    height: 100%;
}
.visibility__hidden {
    visibility: hidden;
}
.pointerEvents__none {
    pointer-events: none;
}
.mr5 {
    margin-right: 5px !important;
}
.mr10 {
    margin-right: 10px !important;
}
.mr40 {
    margin-right: 40px !important;
}
.mb5 {
    margin-bottom: 5px !important;
}
.mb10 {
    margin-bottom: 10px !important;
}
.mb40 {
    margin-bottom: 40px !important;
}
.va-t {
    vertical-align: top !important;
}
.va-m {
    vertical-align: middle !important;
}
.va-b {
    vertical-align: bottom !important;
}
.va-s {
    vertical-align: super !important;
}
.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
.text-center {
    text-align: center !important;
}
.text-justify {
    text-align: justify !important;
}
.text-nowrap {
    white-space: nowrap !important;
}
.ib,
.inline-object {
    display: inline-block !important;
}
.clear {
    clear: both;
}
.wvWarning {
    position: relative;
    width: 320px;
    min-height: 130px;
    z-index: 999;
    left: calc(50% - 160px);
    border: #000 solid 1px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    color: #c2a562;
    box-shadow: 0 3px 23px #ff980078;
    -webkit-animation-name: example;
    -webkit-animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-name: example;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}
@-webkit-keyframes example {
    from {
        top: 0;
        opacity: 0;
        background: #868686;
    }
    to {
        top: 10vh;
        opacity: 1;
        background: #ffffff;
    }
}
@keyframes example {
    from {
        top: 0;
        opacity: 0;
        background: #868686;
    }
    to {
        top: 10vh;
        opacity: 1;
        background: #4f1818;
    }
}
.wvWarning-content {
    position: relative;
    width: 190px;
    min-height: 88px;
    max-height: 80vh;
    margin: auto;
}
.wvWarning-icon {
    font-size: 32px;
}
.wvWarning-text {
    position: relative;
}
.wvWarning-button {
    background-color: #f1ededcc;
    color: #607d8b;
    width: 50px;
    font-weight: 600;
    margin-top: 2px;
    margin-right: 30px;
}
.wvScreenToSmallWarning {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    background-color: white;
    color: #333;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.wvScreenToSmallWarning-content {
    padding: 10px;
    text-align: center;
}
@media only screen and (min-width: 360px) and (min-height: 200px) {
    .wvScreenToSmallWarning {
        display: none;
    }
}
@media only screen and (min-width: 200px) and (min-height: 360px) {
    .wvScreenToSmallWarning {
        display: none;
    }
}
