.wvStudyInformationBreadcrumb {
}
.wvStudyInformationBreadcrumb__patient {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 0.2rem 1rem 0.3rem 1rem;
    text-align: center;
    font-size: 1em;
    margin: 0.6rem;
    font-weight: 400;
    line-height: 2.3rem;
    margin-right: 0;
}
.wvStudyInformationBreadcrumb__patientName {
}
.wvStudyInformationBreadcrumb__patientBirthDate {
}
.wvStudyInformationBreadcrumb__study {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 0.2rem 1rem 0.3rem 1rem;
    text-align: center;
    font-size: 1em;
    margin: 0.6rem;
    font-weight: 400;
    line-height: 2.3rem;
}
.wvStudyInformationBreadcrumb__studyDescription {
}
.wvStudyInformationBreadcrumb__studyDate {
}
