$primary-lighten: #4f9960;
$primary: #307c42;
$dangerColor: #d3d62a;
$panel-header: #fafafa;
$border-color: #e7e7e7;
$lightGrey: #cccccc;
$text-color: #666666;
$darkGrey: #333333;
$darkBlue: #203a6f;
$blueGrey: #303e4d;
$toolbarHeight: 0px;
