.wv-timeline {
    position: relative;
    height: 2em;
    &.reduced {
        height: 6px;
        .wv-timeline-loading-bar-wrapper {
            width: 100%;
            height: 100%;
        }
    }
}
.wv-timeline-controls-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 16em;
    height: 94%;
    color: $primary;
}
.wv-timeline-loading-bar-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    width: calc(100% - 16em);
    height: calc(100%);
    svg {
        position: absolute;
        left: 0;
        top: 0;
    }
}
