<div 
    ng-if="!!vm.series"
    class="wv-timeline"
    ng-class="{'reduced': vm.reduceTimelineHeightOnSingleFrameSeries && vm.series.imageCount == 1}"
>
    <div class="wv-timeline-controls-wrapper" ng-if="!vm.reduceTimelineHeightOnSingleFrameSeries || vm.series.imageCount > 1">
        <wv-timeline-controls wv-readonly="vm.readonly" wv-series="vm.series"></wv-timeline-controls>
    </div>
    <div class="wv-timeline-loading-bar-wrapper">
        <wv-loading-bar wv-readonly="vm.readonly" wv-series="vm.series"></wv-loading-bar>
    </div>
</div>
