<div ng-switch="vm.button.tool">
    <!-- Free -->
    <label
        ng-switch-when="combinedTool"
        ng-if="vm.toolbox.buttons.hasOwnProperty('combinedTool')"
        class="wvButton--underline fa fa-hand-paper"
        ng-class="{active: vm.toolbox.tool === 'combinedTool', 'wvLargeButton': vm.toolbox.buttonsSize == 'large'}"
        data-title="{{ 'COMPONENTS.TOOLBOX.COMBINED_TOOL' | translate | wvCapitalize }}"
        data-placement="{{ vm.toolbox.position === 'top' ? 'bottom':'left' }}"
        data-container="body"
        bs-tooltip
        bs-enabled="!vm.window.USER_IS_TOUCHING"
        >
        <input id="toolbox-combined-tool-button" type="radio" ng-disabled="vm.toolbox.readonly" ng-model="vm.toolbox.tool" value="combinedTool" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>

    <!-- Splitpane Grid configuration buttons. -->
    <wv-splitpane-config-button
        ng-switch-when="layout"
        ng-if="vm.toolbox.buttons.hasOwnProperty('layout')"
        wv-readonly="vm.toolbox.readonly"
        wv-button-size="{{ vm.toolbox.buttonsSize }}"
        wv-splitpane-layout="vm.toolbox.buttons.layout"
        wv-popover-placement="{{ vm.toolbox.position === 'top' ? 'bottom': 'left' }}"
    ></wv-splitpane-config-button>

    <!-- Invert Colour State -->
    <label
        ng-switch-when="invert"
        ng-if="vm.toolbox.buttons.hasOwnProperty('invert')"
        class="wvButton--underline fa fa-adjust"
        data-title="{{ 'COMPONENTS.TOOLBOX.INVERT_COLOR' | translate | wvCapitalize }}"
        data-placement="{{ vm.toolbox.position === 'top' ? 'bottom':'left' }}"
        data-container="body"
        ng-class="{'wvLargeButton': vm.toolbox.buttonsSize == 'large'}"
        bs-tooltip
        bs-enabled="!vm.window.USER_IS_TOUCHING"
    >
        <input type="button" ng-disabled="vm.toolbox.readonly" ng-click="vm.toolbox.onActionClicked({$action: 'invert'})" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>

    <!-- Zoom -->
    <label
        ng-switch-when="zoom"
        ng-if="vm.toolbox.buttons.hasOwnProperty('zoom')"
        class="wvButton--underline fa fa-search-plus"
        ng-class="{active: vm.toolbox.tool === 'zoom', 'wvLargeButton': vm.toolbox.buttonsSize == 'large'}"
        data-title="{{ 'COMPONENTS.TOOLBOX.ZOOM' | translate | wvCapitalize }}"
        data-placement="{{ vm.toolbox.position === 'top' ? 'bottom':'left' }}"
        data-container="body"
        bs-tooltip bs-enabled="!vm.window.USER_IS_TOUCHING"
        >
        <input id="toolbox-zoom-button" type="radio" ng-disabled="vm.toolbox.readonly" ng-model="vm.toolbox.tool" value="zoom" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>

    <!-- Pan -->
    <label
        ng-switch-when="pan"
        ng-if="vm.toolbox.buttons.hasOwnProperty('pan')"
        class="wvButton--underline fa fa-arrows-alt"
        ng-class="{active: vm.toolbox.tool === 'pan', 'wvLargeButton': vm.toolbox.buttonsSize == 'large'}"
        data-title="{{ 'COMPONENTS.TOOLBOX.PANNING' | translate | wvCapitalize }}"
        data-placement="{{ vm.toolbox.position === 'top' ? 'bottom':'left' }}"
        data-container="body"
        bs-tooltip bs-enabled="!vm.window.USER_IS_TOUCHING"
        >
        <input id="toolbox-pan-button" type="radio" ng-disabled="vm.toolbox.readonly" ng-model="vm.toolbox.tool" value="pan" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>

    <!-- Windowing -->
    <wv-windowing-preset-button
        ng-switch-when="windowing"
        ng-if="vm.toolbox.buttons.hasOwnProperty('windowing')"
        wv-selected-tool="vm.toolbox.tool"
        wv-readonly="vm.toolbox.readonly"
        wv-button-size="{{ vm.toolbox.buttonsSize }}"
        wv-popover-placement="{{ vm.toolbox.position === 'top' ? 'bottom':'left' }}"
        wv-windowing-presets="vm.toolbox.windowingPresets"
        wv-on-windowing-preset-selected="vm.toolbox.applyWindowing($windowWidth, $windowCenter)"
    ></wv-windowing-preset-button>

    <!-- Magnifying Glass -->
    <wv-magnifying-glass-config-button
        ng-switch-when="magnify"
        ng-if="vm.toolbox.buttons.hasOwnProperty('magnify')"
        wv-selected-tool="vm.toolbox.tool"
        wv-magnification-level="vm.toolbox.buttons.magnify.magnificationLevel"
        wv-magnifying-glass-size="vm.toolbox.buttons.magnify.magnifyingGlassSize"
        wv-readonly="vm.toolbox.readonly"
        wv-button-size="{{ vm.toolbox.buttonsSize }}"
        wv-popover-placement="{{ vm.toolbox.position === 'top' ? 'bottom':'left' }}"
    ></wv-magnifying-glass-config-button>

    <!-- Length Measure -->
    <label
        ng-switch-when="lengthMeasure"
        ng-if="vm.toolbox.buttons.hasOwnProperty('lengthMeasure')"
        class="wvButton--underline fa fa-arrows-alt-h"
        ng-class="{active: vm.toolbox.tool === 'lengthMeasure', 'wvLargeButton': vm.toolbox.buttonsSize == 'large'}"
        data-title="{{ 'COMPONENTS.TOOLBOX.LENGTH_MEASUREMENT' | translate | wvCapitalize }}"
        data-placement="{{ vm.toolbox.position === 'top' ? 'bottom':'left' }}"
        data-container="body"
        bs-tooltip bs-enabled="!vm.window.USER_IS_TOUCHING"
        >
        <input id="toolbox-length-measure-button" type="radio" ng-disabled="vm.toolbox.readonly" ng-model="vm.toolbox.tool" value="lengthMeasure" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>

    <!-- Simple Angle Measure -->
    <label
        ng-switch-when="simpleAngleMeasure"
        ng-if="vm.toolbox.buttons.hasOwnProperty('simpleAngleMeasure')"
        class="wvButton--underline fa fa-angle-left"
        ng-class="{active: vm.toolbox.tool === 'simpleAngleMeasure', 'wvLargeButton': vm.toolbox.buttonsSize == 'large'}"
        data-title="{{ 'COMPONENTS.TOOLBOX.SIMPLE_ANGLE_MEASUREMENT' | translate | wvCapitalize }}"
        data-placement="{{ vm.toolbox.position === 'top' ? 'bottom':'left' }}"
        data-container="body"
        bs-tooltip bs-enabled="!vm.window.USER_IS_TOUCHING"
        >
        <input id="toolbox-simple-angle-measure-button" type="radio" ng-disabled="vm.toolbox.readonly" ng-model="vm.toolbox.tool" value="simpleAngleMeasure" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>

    <!-- Angle Measure -->
    <label
        ng-switch-when="angleMeasure"
        ng-if="vm.toolbox.buttons.hasOwnProperty('angleMeasure')"
        class="wvButton--underline"
        ng-class="{active: vm.toolbox.tool === 'angleMeasure', 'wvLargeButton': vm.toolbox.buttonsSize == 'large'}"
        data-title="{{ 'COMPONENTS.TOOLBOX.ANGLE_MEASUREMENT' | translate | wvCapitalize }}"
        data-placement="{{ vm.toolbox.position === 'top' ? 'bottom':'left' }}"
        data-container="body"
        bs-tooltip bs-enabled="!vm.window.USER_IS_TOUCHING"
        >
        <i class="fa fa-angle-double-left"></i>
        <input id="toolbox-angle-measure-button" type="radio" ng-disabled="vm.toolbox.readonly" ng-model="vm.toolbox.tool" value="angleMeasure" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>

    <!-- Pixel Probe -->
    <label
        ng-switch-when="pixelProbe"
        ng-if="vm.toolbox.buttons.hasOwnProperty('pixelProbe')"
        class="wvButton--underline"
        ng-class="{active: vm.toolbox.tool === 'pixelProbe', 'wvLargeButton': vm.toolbox.buttonsSize == 'large'}"
        data-title="{{ 'COMPONENTS.TOOLBOX.PIXEL_PROBE' | translate | wvCapitalize }}"
        data-placement="{{ vm.toolbox.position === 'top' ? 'bottom':'left' }}"
        data-container="body"
        bs-tooltip bs-enabled="!vm.window.USER_IS_TOUCHING"
        >
        <i class="fa fa-dot-circle"></i>
        <input id="toolbox-pixel-probe-button" type="radio" ng-disabled="vm.toolbox.readonly" ng-model="vm.toolbox.tool" value="pixelProbe" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>

    <!-- Elliptical Region Of Interest -->
    <label
        ng-switch-when="ellipticalRoi"
        ng-if="vm.toolbox.buttons.hasOwnProperty('ellipticalRoi')"
        class="wvButton--underline"
        ng-class="{active: vm.toolbox.tool === 'ellipticalRoi', 'wvLargeButton': vm.toolbox.buttonsSize == 'large'}"
        data-title="{{ 'COMPONENTS.TOOLBOX.ELLIPTICAL_ROI' | translate | wvCapitalize }}"
        data-placement="{{ vm.toolbox.position === 'top' ? 'bottom':'left' }}"
        data-container="body"
        bs-tooltip bs-enabled="!vm.window.USER_IS_TOUCHING"
        >
        <i class="fa fa-circle"></i>
        <input id="toolbox-elliptical-roi-button" type="radio" ng-disabled="vm.toolbox.readonly" ng-model="vm.toolbox.tool" value="ellipticalRoi" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>

    <!-- Rectangle Region Of Interest -->
    <label
        ng-switch-when="rectangleRoi"
        ng-if="vm.toolbox.buttons.hasOwnProperty('rectangleRoi')"
        class="wvButton--underline"
        ng-class="{active: vm.toolbox.tool === 'rectangleRoi', 'wvLargeButton': vm.toolbox.buttonsSize == 'large'}"
        data-title="{{ 'COMPONENTS.TOOLBOX.RECTANGLE_ROI' | translate | wvCapitalize }}"
        data-placement="{{ vm.toolbox.position === 'top' ? 'bottom':'left' }}"
        data-container="body"
        bs-tooltip bs-enabled="!vm.window.USER_IS_TOUCHING"
        >
        <i class="fa fa-expand"></i>
        <input id="toolbox-rectangle-roi-button" type="radio" ng-disabled="vm.toolbox.readonly" ng-model="vm.toolbox.tool" value="rectangleRoi" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>

    <!-- Arrow/Text Annotate -->
    <label
        ng-switch-when="arrowAnnotate"
        ng-if="vm.toolbox.buttons.hasOwnProperty('arrowAnnotate')"
        class="wvButton--underline"
        ng-class="{active: vm.toolbox.tool === 'arrowAnnotate', 'wvLargeButton': vm.toolbox.buttonsSize == 'large'}"
        data-title="{{ 'COMPONENTS.TOOLBOX.ARROW_ANNOTATE_TEXT' | translate | wvCapitalize }}"
        data-placement="{{ vm.toolbox.position === 'top' ? 'bottom':'left' }}"
        data-container="body"
        bs-tooltip bs-enabled="!vm.window.USER_IS_TOUCHING"
        >
        <i class="fa fa-arrow-right"></i>
        <input id="toolbox-arrow-annotate-button" type="radio" ng-disabled="vm.toolbox.readonly" ng-model="vm.toolbox.tool" value="arrowAnnotate" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>

    <!-- Rotate Left -->
    <label
        ng-switch-when="rotateLeft"
        ng-if="vm.toolbox.buttons.hasOwnProperty('rotateLeft')"
        class="wvButton--underline"
        data-title="{{ 'COMPONENTS.TOOLBOX.ROTATE_LEFT' | translate | wvCapitalize }}"
        data-placement="{{ vm.toolbox.position === 'top' ? 'bottom':'left' }}"
        data-container="body"
        ng-class="{'wvLargeButton': vm.toolbox.buttonsSize == 'large'}"
        bs-tooltip bs-enabled="!vm.window.USER_IS_TOUCHING"
        >
        <i class="fa fa-undo"></i>
        <input type="button" ng-disabled="vm.toolbox.readonly" ng-click="vm.toolbox.onActionClicked({$action: 'rotateLeft'})" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>

    <!-- Rotate Right -->
    <label
        ng-switch-when="rotateRight"
        ng-if="vm.toolbox.buttons.hasOwnProperty('rotateRight')"
        class="wvButton--underline"
        data-title="{{ 'COMPONENTS.TOOLBOX.ROTATE_RIGHT' | translate | wvCapitalize }}"
        data-placement="{{ vm.toolbox.position === 'top' ? 'bottom':'left' }}"
        data-container="body"
        ng-class="{'wvLargeButton': vm.toolbox.buttonsSize == 'large'}"
        bs-tooltip bs-enabled="!vm.window.USER_IS_TOUCHING"
        >
        <i class="fa fa-undo fa-flip-horizontal"></i>
        <input type="button" ng-disabled="vm.toolbox.readonly" ng-click="vm.toolbox.onActionClicked({$action: 'rotateRight'})" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>

    <!-- Previous series -->
    <label
        ng-switch-when="previousSeries"
        ng-if="vm.toolbox.buttons.hasOwnProperty('previousSeries')"
        class="wvButton--underline"
        data-title="{{ 'COMPONENTS.TOOLBOX.PREVIOUS_SERIES' | translate | wvCapitalize }}"
        data-placement="{{ vm.toolbox.position === 'top' ? 'bottom':'left' }}"
        data-container="body"
        ng-class="{'wvLargeButton': vm.toolbox.buttonsSize == 'large'}"
        bs-tooltip bs-enabled="!vm.window.USER_IS_TOUCHING"
        >
        <i class="fa fa-play fa-rotate-180"></i>
        <input type="button" ng-disabled="vm.toolbox.readonly" ng-click="vm.toolbox.onActionClicked({$action: 'previousSeries'})" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>

    <!-- Next series -->
    <label
        ng-switch-when="nextSeries"
        ng-if="vm.toolbox.buttons.hasOwnProperty('nextSeries')"
        class="wvButton--underline"
        data-title="{{ 'COMPONENTS.TOOLBOX.NEXT_SERIES' | translate | wvCapitalize }}"
        data-placement="{{ vm.toolbox.position === 'top' ? 'bottom':'left' }}"
        data-container="body"
        ng-class="{'wvLargeButton': vm.toolbox.buttonsSize == 'large'}"
        bs-tooltip bs-enabled="!vm.window.USER_IS_TOUCHING"
        >
        <i class="fa fa-play"></i>
        <input type="button" ng-disabled="vm.toolbox.readonly" ng-click="vm.toolbox.onActionClicked({$action: 'nextSeries'})" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>

    <!-- Flip Horizontally -->
    <label
        ng-switch-when="hflip"
        ng-if="vm.toolbox.buttons.hasOwnProperty('hflip')"
        class="wvButton--underline"
        data-title="{{ 'COMPONENTS.TOOLBOX.FLIP_HORIZONTALLY' | translate | wvCapitalize }}"
        data-placement="{{ vm.toolbox.position === 'top' ? 'bottom':'left' }}"
        data-container="body"
        ng-class="{'wvLargeButton': vm.toolbox.buttonsSize == 'large'}"
        bs-tooltip bs-enabled="!vm.window.USER_IS_TOUCHING"
        >
        <i class="fa fa-exchange-alt"></i>
        <input type="button" ng-disabled="vm.toolbox.readonly" ng-click="vm.toolbox.onActionClicked({$action: 'hflip'})" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>

    <!-- Flip Vertically -->
    <label
        ng-switch-when="vflip"
        ng-if="vm.toolbox.buttons.hasOwnProperty('vflip')"
        class="wvButton--underline"
        data-title="{{ 'COMPONENTS.TOOLBOX.FLIP_VERTICALLY' | translate | wvCapitalize }}"
        data-placement="{{ vm.toolbox.position === 'top' ? 'bottom':'left' }}"
        data-container="body"
        ng-class="{'wvLargeButton': vm.toolbox.buttonsSize == 'large'}"
        bs-tooltip bs-enabled="!vm.window.USER_IS_TOUCHING"
        >
        <i class="fa fa-exchange-alt fa-rotate-90"></i>
        <input type="button" ng-disabled="vm.toolbox.readonly" ng-click="vm.toolbox.onActionClicked({$action: 'vflip'})" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>

    <!-- Synchro -->
    <label
        ng-switch-when="toggleSynchro"
        ng-if="vm.toolbox.buttons.hasOwnProperty('toggleSynchro')"
        class="wvButton--underline"
        ng-class="{'active': vm.toolbox.wvSynchronizer.isEnabled(), 'wvLargeButton': vm.toolbox.buttonsSize == 'large'}"
        data-title="{{ 'COMPONENTS.TOOLBOX.SYNCHRONIZED_BROWSING' | translate | wvCapitalize }}"
        data-placement="{{ vm.toolbox.position === 'top' ? 'bottom':'left' }}"
        data-container="body"
        bs-tooltip bs-enabled="!vm.window.USER_IS_TOUCHING"
        >
        <i class="fa fa-link"></i>
        <input type="radio" ng-disabled="vm.toolbox.readonly" ng-click="vm.toolbox.onActionClicked({$action: 'toggleSynchro'})" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>

    <!-- ReferenceLines -->
    <label
        ng-switch-when="toggleReferenceLines"
        ng-if="vm.toolbox.buttons.hasOwnProperty('toggleReferenceLines')"
        class="wvButton--underline"
        ng-class="{'active': vm.toolbox.wvReferenceLines.isEnabled(), 'wvLargeButton': vm.toolbox.buttonsSize == 'large'}"
        data-title="{{ 'COMPONENTS.TOOLBOX.REFERENCE_LINES' | translate | wvCapitalize }}"
        data-placement="{{ vm.toolbox.position === 'top' ? 'bottom':'left' }}"
        data-container="body"
        bs-tooltip bs-enabled="!vm.window.USER_IS_TOUCHING"
        >
        <i class="fa fa-bars"></i>
        <input type="radio" ng-disabled="vm.toolbox.readonly" ng-click="vm.toolbox.onActionClicked({$action: 'toggleReferenceLines'})" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>

    <!-- CrossHair -->
    <label
        ng-switch-when="crossHair"
        ng-if="vm.toolbox.buttons.hasOwnProperty('crossHair')"
        class="wvButton--underline"
        ng-class="{active: vm.toolbox.tool === 'crossHair', 'wvLargeButton': vm.toolbox.buttonsSize == 'large'}"
        data-title="{{ 'COMPONENTS.TOOLBOX.CROSS_HAIR' | translate | wvCapitalize }}"
        data-placement="{{ vm.toolbox.position === 'top' ? 'bottom':'left' }}"
        data-container="body"
        bs-tooltip bs-enabled="!vm.window.USER_IS_TOUCHING"
        >
        <i class="fa fa-crosshairs"></i>
        <input id="toolbox-crossHair-button" type="radio" ng-disabled="vm.toolbox.readonly" ng-model="vm.toolbox.tool" value="crossHair" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>

    <!-- Toggle Overlay Text -->
    <label
        ng-switch-when="toggleOverlayText"
        ng-if="vm.toolbox.buttons.hasOwnProperty('toggleOverlayText')"
        class="wvButton--underline"
        ng-class="{'active': vm.toolbox.wvViewerController.isOverlayTextVisible(), 'wvLargeButton': vm.toolbox.buttonsSize == 'large'}"
        data-title="{{ 'COMPONENTS.TOOLBOX.TOGGLE_LAYOUT_TEXT' | translate | wvCapitalize }}"
        data-placement="{{ vm.toolbox.position === 'top' ? 'bottom':'left' }}"
        data-container="body"
        bs-tooltip bs-enabled="!vm.window.USER_IS_TOUCHING"
        >
        <i class="fa fa-align-left"></i>
        <input type="radio" ng-disabled="vm.toolbox.readonly" ng-click="vm.toolbox.onActionClicked({$action: 'toggleOverlayText'})" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>

    <!-- Toggle Overlay Icons -->
    <label
        ng-switch-when="toggleOverlayIcons"
        ng-if="vm.toolbox.buttons.hasOwnProperty('toggleOverlayIcons')"
        class="wvButton--underline"
        ng-class="{'active': vm.toolbox.wvViewerController.isOverlayIconsVisible(), 'wvLargeButton': vm.toolbox.buttonsSize == 'large'}"
        data-title="{{ 'COMPONENTS.TOOLBOX.TOGGLE_LAYOUT_ICONS' | translate | wvCapitalize }}"
        data-placement="{{ vm.toolbox.position === 'top' ? 'bottom':'left' }}"
        data-container="body"
        bs-tooltip bs-enabled="!vm.window.USER_IS_TOUCHING"
        >
        <i class="fa fa-location-arrow"></i>
        <input type="radio" ng-disabled="vm.toolbox.readonly" ng-click="vm.toolbox.onActionClicked({$action: 'toggleOverlayIcons'})" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>

    <!-- print button -->
    <label
        ng-switch-when="print"
        ng-if="vm.toolbox.buttons.hasOwnProperty('print')"
        class="wvButton--underline fa fa-print"
        data-title="{{ 'COMPONENTS.TOOLBOX.PRINT' | translate | wvCapitalize }}"
        data-placement="{{ vm.toolbox.position === 'top' ? 'bottom':'left' }}"
        data-container="body"
        ng-class="{'wvLargeButton': vm.toolbox.buttonsSize == 'large'}"
        bs-tooltip
    >
        <input type="button" ng-disabled="vm.toolbox.readonly" ng-click="vm.toolbox.onActionClicked({$action: 'print'})" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>

    <!-- Download as jpeg -->
    <label
        ng-switch-when="downloadAsJpeg"
        ng-if="vm.toolbox.buttons.hasOwnProperty('downloadAsJpeg')"
        class="wvButton--underline"
        data-title="{{ 'COMPONENTS.TOOLBOX.DOWNLOAD_AS_JPEG' | translate | wvCapitalize }}"
        data-placement="{{ vm.toolbox.position === 'top' ? 'bottom':'left' }}"
        data-container="body"
        ng-class="{'wvLargeButton': vm.toolbox.buttonsSize == 'large'}"
        bs-tooltip
    >
      <i class="fa fa-file-download"></i>
      <input type="button" ng-disabled="vm.toolbox.readonly" ng-click="vm.toolbox.onActionClicked({$action: 'downloadAsJpeg'})" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>

    <!-- Key Image Note -->
    <wv-keyimagenote-button
        ng-switch-when="keyImageCapture"
        ng-if="vm.toolbox.buttons.hasOwnProperty('keyImageCapture')"
        wv-readonly="vm.toolbox.readonly"
        wv-button-size="{{ vm.toolbox.buttonsSize }}"
        wv-popover-placement="{{ vm.toolbox.position === 'top' ? 'bottom':'left' }}"
        wv-on-keyimagenote-created="vm.toolbox.createKeyImageNote($note)"
    ></wv-keyimagenote-button>

    <!-- Custom command button -->
    <label
        ng-switch-when="customCommand"
        ng-if="vm.toolbox.buttons.hasOwnProperty('customCommand')"
        class="wvButton--underline"
        data-title="{{ vm.toolbox.customCommandIconLabel | wvCapitalize}}"
        data-placement="{{ vm.toolbox.position === 'top' ? 'bottom':'left' }}"
        data-container="body"
        ng-class="{'wvLargeButton': vm.toolbox.buttonsSize == 'large'}"
        bs-tooltip bs-enabled="!vm.window.USER_IS_TOUCHING"
        >
        <i class="{{ vm.toolbox.customCommandIconClass }}"></i>
        <input type="button" ng-disabled="vm.toolbox.readonly" ng-click="vm.toolbox.onActionClicked({$action: 'customCommand'})" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>

  </div>
